/*Just for presentation of clicked
=======================
*/
*{
	color:white;
}
body {
  background: #003f52 url('http://www.transparenttextures.com/patterns/felt.png') repeat;
}

#gameTitle {
  font-family: "Anton";
  text-align: center;
  color: #fff;
  font-size: 3em;
}
