/*Just for presentation of clicked
=======================
*/


*{
	color:white;
}

body {
  background-color: #003f52;
  background-image: url(http://www.transparenttextures.com/patterns/felt.png);
}

#gameTitle {
  font-family: "Anton";
  text-align: center;
  color: #fff;
  font-size: 3em;
}
